{% for partner in posts %}
    <div class="item">
        <a>
            {% if partner.thumbnail != null %}
                <img src="{{ img(partner.thumbnail.path) }}" alt="{{ partner.thumbnail.alt }}">
            {% else %}
                <h3>{{ partner.title }}</h3>
            {% endif %}
        </a>
    </div>
{% endfor %}