<section id="about">
    <div class="container">
        <div class="section-content">
            <div class="row mt-50">
                <div class="col-md-5">
                    <div class="class-item box-hover-effect effect1">
                        <div class="thumb"> <a href="page-services-details.html#">
                                <img class="img-responsive img-fullwidth mb-20" src="{{ img(post.thumbnail.path) }}" alt="{{ post.thumbnail.alt }}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 mt-20">
                    <div class="caption">
                        <h4 class="text-uppercase letter-space-3">{{ post.title }}</h4>
                        {{ post.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

